In [10]:
## This program takes the Uber data and rounds the time data from minutes into hours in order to match the 
# format of the weather data

In [11]:
import pandas as pd
import numpy as np
import collections

from datetime import date


temperature_to_load = "temperature.csv"

temperature_data = pd.read_csv(temperature_to_load)



# File to Load (Remember to Change These)
uber_to_load = "ubernyc.csv"

uber_data = pd.read_csv(uber_to_load)

In [12]:
uber_data.index = pd.to_datetime(uber_data["DATE"] + " " + uber_data["TIME"])

ut = uber_data.index.round("H")

ut = pd.DataFrame(ut)

In [13]:
#Export the ut into a csv
with open('test1.csv', mode='w') as output_data_file:
    ut.to_csv(output_data_file, index_label="City_ID")

In [14]:
#take column from ut df with timestamps and make it into a list.
list1 = []
list1 = ut[0].tolist()

In [15]:
#count the number of uber rides per hour. The output looks like a library key: value, Key is the time and value the number of rides during that time
counter=collections.Counter(list1)

df_time_as_header = pd.DataFrame(counter, index=[0])
#transponde df_time_as_header to get correct format, one hour per row insated of one hour per column
df_final = df_time_as_header.T


#next, need to add right name to index, make it a colum and then inner join with wather data

In [16]:
df_final.rename_axis('datetime')
#df_final = df_final.reset_index(level=['foo'])

#rename column, by default 0, to 'number_of_rides' and change the name of the df
df_number_of_rides_per_hour = df_final.rename(columns={0: 'number_of_rides'})

In [28]:
#dt = pd.to_datetime(temperature_data["datetime"])

new = temperature_data[['datetime', 'New York']].copy()

new.set_index('datetime', inplace=True)
new.head()

new.join(df_number_of_rides_per_hour, how='inner')

                     New York  number_of_rides
2014-07-01 00:00:00    300.91               20
2014-07-01 01:00:00    299.79               33
2014-07-01 02:00:00    298.24               21
2014-07-01 03:00:00    297.61               15
2014-07-01 04:00:00    297.22               19
2014-07-01 05:00:00    296.99               21
2014-07-01 06:00:00    296.86               31
2014-07-01 07:00:00    296.44               28
2014-07-01 08:00:00    295.82               62
2014-07-01 09:00:00    295.66               62
2014-07-01 10:00:00    294.90               47
2014-07-01 11:00:00    295.26               27
2014-07-01 12:00:00    295.79               45
2014-07-01 13:00:00    296.62               33
2014-07-01 14:00:00    298.94               46
2014-07-01 15:00:00    301.55               45
2014-07-01 16:00:00    302.21               47
2014-07-01 17:00:00    303.63               41
2014-07-01 18:00:00    304.36               36
2014-07-01 19:00:00    304.95               35
2014-07-01 20:00:00    305.39               42
2014-07-01 21:00:00    304.92               38
2014-07-01 22:00:00    304.86               53
2014-07-01 23:00:00    304.47               53
2014-07-02 00:00:00    303.81               47
2014-07-02 01:00:00    302.83               34
2014-07-02 02:00:00    301.60               19
2014-07-02 03:00:00    301.35               19
2014-07-02 04:00:00    299.93               20
2014-07-02 05:00:00    299.36               20
...                       ...              ...
2014-09-29 19:00:00    297.82               38
2014-09-29 20:00:00    297.90               32
2014-09-29 21:00:00    297.63               39
2014-09-29 22:00:00    295.29               27
2014-09-29 23:00:00    294.51               26
2014-09-30 00:00:00    294.46               37
2014-09-30 01:00:00    293.86               21
2014-09-30 02:00:00    293.31               13
2014-09-30 03:00:00    292.97               12
2014-09-30 04:00:00    292.23                8
2014-09-30 05:00:00    291.61               16
2014-09-30 06:00:00    291.59               31
2014-09-30 07:00:00    291.51               52
2014-09-30 08:00:00    291.02               93
2014-09-30 09:00:00    290.51               72
2014-09-30 10:00:00    290.38               51
2014-09-30 11:00:00    290.15               19
2014-09-30 12:00:00    290.79               35
2014-09-30 13:00:00    291.82               18
2014-09-30 14:00:00    291.90               32
2014-09-30 15:00:00    293.16               31
2014-09-30 16:00:00    294.03               40
2014-09-30 17:00:00    294.52               45
2014-09-30 18:00:00    294.53               38
2014-09-30 19:00:00    294.12               38
2014-09-30 20:00:00    293.83               34
2014-09-30 21:00:00    293.30               30
2014-09-30 22:00:00    292.54               38
2014-09-30 23:00:00    291.53               41
2014-10-01 00:00:00    291.47               23

[2209 rows x 2 columns]